{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
   
{% endblock %}

{% block scripts %} 
    {{ super() }}
{% endblock %}

{% block head %}
  <title>Crypto chiefs</title>
{% endblock %} 

{% block body %}
<div class="foundation"><br><h1 class="your_text">Welcome to <br> Crypto Chiefs!</h1></div>
  
  <!-- banner section start -->
  <div class="banner_section layout_padding">
    <div class="container">
      <div id="cryptoCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#cryptoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#cryptoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#cryptoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#cryptoCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div style="width: 30%;" class="start_bt">
                <!-- Crypto Converter ⚡ Widget -->
                <crypto-converter-widget shadow symbol live background-color="#0F0326" border-radius="30px"
                    fiat="united-states-dollar" crypto="bitcoin" amount="1" font-family="inherit" decimal-places="2">
                </crypto-converter-widget>
                <script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
                <!-- /Crypto Converter ⚡ Widget -->
            </div>
            <div class="start_bt">
              {% if user_id %}
                  <div class="read_bt"><a href="/buyCrypto">Exchange</a></div>
              {% else %}
                <div class="read_bt"><a href="/login">Exchange</a></div>
              {% endif %}
            </div>
          </div>

          <div class="carousel-item">
            <div style="width: 30%;" class="start_bt">
                <!-- Crypto Converter ⚡ Widget -->
                <crypto-converter-widget shadow symbol live background-color="#0F0326" border-radius="1.20rem"
                    fiat="united-states-dollar" crypto="ethereum" amount="1" font-family="inherit" decimal-places="2">
                </crypto-converter-widget>
                <script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
                <!-- /Crypto Converter ⚡ Widget -->
            </div>
            <div class="start_bt">
              {% if user_id %}
              <div class="read_bt"><a href="/buyCrypto">Exchange</a></div>
            {% else %}
              <div class="read_bt"><a href="/login">Exchange</a></div>
            {% endif %}
            </div>
            
          </div>
          <div class="carousel-item">
            <div style="width: 30%;" class="start_bt">
                <!-- Crypto Converter ⚡ Widget -->
                <crypto-converter-widget shadow symbol live background-color="#0F0326" border-radius="1.20rem"
                    fiat="united-states-dollar" crypto="tether" amount="1" font-family="inherit" decimal-places="2">
                </crypto-converter-widget>
                <script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
                <!-- /Crypto Converter ⚡ Widget -->
            </div>
            <div class="start_bt">
              {% if user_id %}
              <div class="read_bt"><a href="/buyCrypto">Exchange</a></div>
            {% else %}
              <div class="read_bt"><a href="/login">Exchange</a></div>
            {% endif %}
            </div>
          </div>

          <div class="carousel-item">
            <div style="width: 30%;" class="start_bt">
                <!-- Crypto Converter ⚡ Widget -->
                <crypto-converter-widget shadow symbol live background-color="#0F0326" border-radius="1.20rem"
                    fiat="united-states-dollar" crypto="binance-coin" amount="1" font-family="inherit" decimal-places="2">
                </crypto-converter-widget>
                <script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script>
                <!-- /Crypto Converter ⚡ Widget -->
            </div>
            <div class="start_bt">
              {% if user_id %}
              <div class="read_bt"><a href="/buyCrypto">Exchange</a></div>
            {% else %}
              <div class="read_bt"><a href="/login">Exchange</a></div>
            {% endif %}
            </div>
          </div> 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#cryptoCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cryptoCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  


</div>

{% endblock %}
