{% extends 'layout.html' %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script>
   
</script>
{% endblock %}

{% block head %}
<title>Crypto Chiefs - Login</title>
{% endblock %}

{% block body %}
<div class="foundation">
    <div class="login-container">
        <h1>Crypto Chiefs - Login</h1>
        <h3>State of the art crypto broker ready to serve you!</h3>
        <div class="box">
            <form id="login-form" class="login-form-container">
                <div class="login-form-item row">
                    <span class="col-sm-3"></span>
                    <label class="col-sm-2">Email:</label>
                    <input class="col-sm-4" type="email" id="email" name="email"  required>
                </div>

                <div class="login-form-item row">
                    <span class="col-sm-3"></span>
                    <label class="col-sm-2">Password:</label>
                    <input class="col-sm-3" type="password" name="password" id="password">
                </div>
                <div class="login-form-item row">
                    <div class="start_bt">
                        <button class="read_bt" type="button" onclick="login()" id="login">Login</button>
                    </div>
                </div>
                <div class="login-form-item" style="text-align: center;">
                    <span>Don't have an account?&nbsp;<a href="/register">Join here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}