{% extends 'layout.html' %} {% block styles %} {{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
{% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %} {% block head %}
<title>Crypto Chiefs - Profile</title>
{% endblock %} {% block body %}
<div class="row">
  <div class="nesto col-5 ">
    <div class="profile-container ">
      <h3>Welcome back chief - {{ user.name }}</h3>
      <h4>Your info</h4>
      <label for="email"><b>Email</b> : {{ user.email }}</label><br>
      <label for="FirstName"><b>First Name</b> : {{ user.name }}</label> <label for="LastName"><b> Last Name </b>: {{
        user.lastName }}</label><br>
      <label for="Address"><b>Address</b> : {{ user.address }}</label> <label for="City"><b>City</b> : {{ user.city
        }}</label><br>
      <label for="Country"><b>Country</b> : {{ user.country }}</label> <label for="PhoneNumber"><b>Phone number</b> : {{
        user.phoneNumber }}</label><br>
    </div>
  </div>
  <div class="nesto col-7">
    <div class="crypto-container ">
      <h3>Your crypto values</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Value</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for currency in currencies %}
            <tr>
                <td>{{ currency.currency }}</td>
                <td>{{ currency.balance }}</td>
                
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="crypto_wrapper">
        <div class="crypto_bt" onclick="location.href='/buyCrypto';">
          <span>Buy crypto</span>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}