{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block scripts %} 
    {{ super() }}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block head %}
    <title>Crypto Chiefs - Register</title>
{% endblock %} 

{% block body %}
<div class="foundation">
    <div class="register-container">
        <h1>Crypto Chiefs - Register!</h1>
        <h3>Registering here is the first step to success!</h3>
        <div class="box">
            <form id="register-form" class="register-form-container row">
                <div class="register-form-item col-12">
                    <input class="register-form-item-input" placeholder="Email" type="email" id="email" name="email">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="First Name" type="text" id="name" name="name">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Last Name"  type="text" id="last-name" name="lastName">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Address"  type="text" id="address" name="address">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="City" type="text" id="city" name="city">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Country" type="text" id="country" name="country">
                </div>
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Phone number" type="number" id="phone-number" name="phoneNumber">
                </div>                
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Password" type="password" id="password" name="password">
                </div>   
                <div class="register-form-item col-6">
                    <input class="register-form-item-input" placeholder="Confirm Password" type="password" id="repeat_password" name="repeatPassword">
                </div>     
                <div class="start_bt">            
                    <button class="read_bt" type="button" onclick="register()">Register</button>
                </div>            
            </form>
        <div>
    </div>
</div>
{% endblock %}