.register-container{
    margin:20px;
    width: 50%;
    float: left;
    color: #ffffff;
   
    text-transform: uppercase;
    text-align: center;
    background-color: #0F0326;
    box-shadow: 0 0 1pt 1pt white;
    border-radius: 30px;
    padding: 10px;
}

h1{
    color: white;
    font-size: 30px;
    font-weight:bold;
}
h3{color: white;}
a{
    color: #c41463;
}
a:hover{
    color: #162a87;
}
.box{
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.register-form-container{
    padding-left: 30px;
    padding-right: 30px;
    
    text-align: center;
    align-items: center;
}
.register-form-item{
    padding: 3px;
    align-items: center;
    text-align: center;
    margin-bottom: 5px; 
}

.register-form-item-input{
    width: 100%;
}

.read_bt {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #0F0326;
    text-align: center;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 0 1pt 1pt white;
}
.read_bt:hover {
    background-color: purple;
    color: white;
}
